<app-navbar></app-navbar>

<section class="container-fluid wrapper">
  <div class="main_container">
    <div class="sidebar">
      <div class="container">
        <app-category-list [categories]="categories"></app-category-list>
      </div>
    </div>
    <div class="content">
      <div class="article">
        <div class="article_content">
          <div class="container">
            <div class="card col-md-10">
              <div class="card-body">

              </div>
            </div>
            <div class="card col-md-10">
              <div class="card-body">

              </div>
            </div>
            <div class="card col-md-10">
              <div class="card-body">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
