.wrapper{
  .main_container {
    display: flex;
    flex-wrap: wrap;

    .sidebar{
      height: 100vh;
      max-width: 300px;
      background-color: white;
      width: 20%;
      margin-top: 3%;
      .card {
        border-top:  3px solid dodgerblue;
        margin-top: 2% !important;
      }
    }

    .content {
      width: 80% !important ;
      .card {
        margin-top: 3%;
      }
    }
  }

  .fixed {
    position: fixed;
    width: 20% !important;
    z-index: 999;
    margin-top: -5% !important;
  }


}



@media(min-width :0px) and (max-width:900px) {
  .main_container{
    text-align: center;
    display:block !important;
    .sidebar{
      display: none !important;
    }
    .content {

      width: 100% !important;
      margin-left: 10% !important;
      .card {
        width: 100% !important;
      }
    }
  }

}

