<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/pictures/logo.png" alt="Logo" height="24" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="articles" ariaCurrentWhenActive="page">Articles</a>
        </li>
        <li *ngIf="permissionService.checkFeaturePermission(permissionTypes.MANAGE_ADMINS)" class="nav-item">
          <a class="nav-link" routerLink="roles" ariaCurrentWhenActive="page">Roles</a>
        </li>
        <li *ngIf="permissionService.checkFeaturePermission(permissionTypes.SEE_ADMINS)" class="nav-item">
          <a class="nav-link" routerLink="admins" ariaCurrentWhenActive="page">Admins</a>
        </li>
      </ul>
      <ul class="nav navbar-nav d-flex">
        <li class="nav-item dropdown" ngbDropdown>
          <div
            class="nav-link dropdown-toggle"
            href="#"
            id="profileDropdown"
            role="button"
            ngbDropdownToggle
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ getUserName() }}
          </div>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" (click)="disconnect()" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
